*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: "Open Sans", sans-serif;
}
p
{
    font-family: "Raleway", sans-serif;
    color: #212121;
    font-size: 12pt;
    font-weight: 400;
}
h2
{
    font-family: "Poppins", sans-serif;
    color: #212121;
    font-weight: 800;
}
#nav-bar
{
    position: sticky;
    top: 0px;
    z-index: 10;
}
.navbar
{
    background-color: #edf1fd;
    padding: 0 !important;
}
.navbar-brand img
{
    height: 25px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #212121 !important;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    float: right;
    text-align: left;
    transition: 0.5s;
}
.fa-bars
{
    color: #212121;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}

/*----------------------------Hero Banner----------------------------------*/
#hero-banner
{
    background-color: #edf1fd;
    color: #212121;
    padding-top: 5%;
    padding-bottom: 100px;
}
#hero-banner h1
{
    font-family: "Poppins", sans-serif;
    color: #212121;
    margin-top: 10px;
    font-weight: 1000;
}
#hero-banner img
{
    margin-top: 20px;
    width: 100%;
}
#hero-banner .icon-bar
{
    width: 100%;
    text-align: center;
    transition: 0.5s;
    margin-top: 30px;
    margin-bottom: 30px;
}
.icon-bar i
{
    color: #212121;
    padding-right: 10px;
    padding-left: 10px;
}
.icon-bar i:hover
{
    transform: translateY(-10px);
}
#hero-banner .btn
{
    width: auto;
    background: #737372;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    font-family: "Poppins", sans-serif;
    color: #f8f8f8;
    font-weight: 600;
    padding-right: 20px;
    padding-left: 20px;
}
#hero-banner .btn i
{
    color: #f8f8f8;
    padding-right: 10px;
}
#hero-banner .btn-primary:hover
{
    top: 20px;
    color:#f8f8f8;
    background-color:#212121;
}
.bottom-img
{
    width: 100%;
}

/*----------------------------About----------------------------------*/
#about-me
{
    background-color: #fff;
    color: #212121;
    padding-top: 5%;
    padding-bottom: 2%;
}
#about-me h2
{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}
.sign
{
    width: 80px;
    height: auto;
}
#about-me .btn
{
    margin-top: 20px;
    margin-right: 20px;
    background: #737372;
    border: none;
    font-family: "Poppins", sans-serif;
    color: #f8f8f8;
    font-weight: 600;
}
#about-me .btn-primary:hover
{
    top: 20px;
    color:#f8f8f8;
    background-color:#212121;
}
.img-about
{
    width: 48%;
}

/*----------------------------Proficient----------------------------------*/
#proficient
{
    padding: 80px 0;
    background-color: #edf1fd;
}
.box
{
    width: 350px;
    height: 350px;
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
    margin-top: 80px;
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 10px;
}
.box i
{
    color: #f8f8f8;
    margin-top: 30px;
}
.box p
{
    color: #f8f8f8;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
}
.box h4
{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 20px;
}
#proficient .owl-carousel
{
    margin-top: 80px;
}

@media(max-width:720px)
{
    .box
    {
        width: 100%;
        height: auto;
    }
    .item
    {
       padding-right: 10px;
    }
    .box h4
    {
        font-size: 14px;
    }
    .box p
    {
        font-size: 12px;
    }
}
@media(max-width:1024px)
{
    .box
    {
        width: 100%;
        height: auto;
    }
    .item
    {
       padding-right: 10px;
    }
    .box h4
    {
        font-size: 14px;
    }
    .box p
    {
        font-size: 12px;
    }
}

/*----------------------------Portfolio----------------------------------*/
#portfolio
{
    padding: 80px 0;
}
.card
{
    background-color: #edf1fd;
    margin-top: 80px;
    border: none;
    box-sizing: content-box;
    padding-right: 20px;
    padding-left: 20px;
}
.card-body h5
{
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    color: #212121;
}
#portfolio .btn
{
    background: #737372;
    border: none;
    font-family: "Poppins", sans-serif;
    color: #f8f8f8;
    font-weight: 600;
}
#portfolio .btn-primary:hover
{
    color:#f8f8f8;
    background-color:#212121;
}

/*----------------------------Resume----------------------------------*/
#resume
{
    padding: 80px 0;
}
#resume h4
{
    margin-top: 10px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #737372;
}
#resume h5
{
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    color: #212121;
}
#resume span
{
    font-family: "Poppins", sans-serif;
    color: #212121;
}
.resume
{
    border-left: 4px solid #737372;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: left;
}
.development
{
    margin-top: 80px;
}
#resume img
{
    margin-top: 50px;
    width: 80%;
    text-align: center;
    padding-right: 50px;
}

@media (max-width:720px)
{
    #resume img
    {
        padding-right: 10px;
    }
}

/*----------------------------Resume----------------------------------*/
#hello
{
    padding: 80px 0;
    background-color: #edf1fd;
}
#hello p
{
    font-size: 24px;
}
#hello .icon-bar
{
    width: 100%;
    text-align: center;
    transition: 0.5s;
    margin-top: 30px;
    margin-bottom: 30px;
}
.icon-bar i
{
    color: #212121;
    padding-right: 10px;
    padding-left: 10px;
}
.icon-bar i:hover
{
    transform: translateY(-10px);
}

/*----------------------------footer----------------------------------*/
#footer
{
    padding: 80px 0;
    background-color: #212121;
}
#footer i
{
    color: #f8f8f8;
    margin-bottom: 30px;
}
#footer i:hover
{
    transform: translateY(-10px);
}
#footer .icon-bar
{
    width: 100%;
    text-align: center;
    transition: 0.5s;
    margin-top: 30px;
    margin-bottom: 20px;
}
#footer .icon-bar i
{
    color: #f8f8f8;
    padding-right: 10px;
    padding-left: 10px;
}
#footer .icon-bar i:hover
{
    transform: translateY(-10px);
}
.copyright
{
    border-top: 4px solid #f8f8f8;
    margin-top: 20px;
    text-align: center;
    color: #f8f8f8;
    width: 50%;
}
.copyright p
{
    color: #f8f8f8;
    margin-top: 5px;
}
